@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Opps Something Went Wrong</h1>

<img href="https://i.pinimg.com/originals/df/7e/cd/df7ecd8e0a55812df90519722fde1f1c.jpg"/>

<a asp-controller="Home" asp-action="Index" >Back To Home</a>
