
 
    <center>


       
        <h1 class="test">Welcome to Planfort</h1>
        <br />
        <h2>Plan with us!</h2>
          <img src="https://wordstream-files-prod.s3.amazonaws.com/s3fs-public/images/media/images/event-marketing-ideas.jpg" alt="The fun you could be having with PlanFort!">

        <div class="card-footer text-muted fixed-bottom">
            <p>PlanFort is Powered by SeatGeek and Yelp</p>
        </div>

    </center>





