@model PlanFort.Models.ViewModels.EventCityFormVM
<form asp-controller="Event" asp-action="EventCityFormResult" method="post">
    <div class="form-group">
        <label asp-for="City">City</label>
        <input asp-for="City" placeholder="Enter City">
    </div>
    <br />
    <br />
    <div class="form-group">
        <label asp-for="DateOfTrip">Date:</label>
        <input type="date" asp-for="DateOfTrip">
    </div>
    <button type="submit" class="btn btn-outline-success">Submit</button>
</form>