@model PlanFort.Models.ViewModels.EventCityFormVM
<form asp-controller="Event" asp-action="EventCityFormResult" method="post">

    <label asp-for="City"></label>
    <input asp-for="City" />

    <label asp-for="DateOfTrip">Date:</label>
    <input type="date" asp-for="DateOfTrip" />

    <button>Search</button>

</form>