@model PlanFort.Models.ViewModels.EventCityFormVM
<body style="background-color:black">
    <center>
        <form asp-controller="Event" asp-action="EventCityFormResult" method="post">

            <label style="color:dodgerblue" class="font-weight-bold" asp-for="City">City:</label>
            <input style="color:dodgerblue" class="font-weight-bold" asp-for="City" />

            <label style="color:dodgerblue" class="font-weight-bold" asp-for="DateOfTrip">Date:</label>
            <input style="color:dodgerblue" class="font-weight-bold" type="date" asp-for="DateOfTrip" />
            <br />
            <br />
            <button style="color:dodgerblue" class="font-weight-bold">Search</button>

        </form>
    </center>

</body>   
